# Example .gitignore file for your config dir.
# A * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!themes
!automations
!script_configs
!docker-compose

# Ignore folders.
.storage
.cloud
.google.token
custom_components
deps
scripts
tts
www

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
customize.yaml
groups.yaml
home-assistant.log
home-assistant__v2.db
homekit_controller-entity-map
shell_command.yaml
skybell_cache.pickle
smartthings
ui-lovelace.yaml
zones.yaml
script_configs/test.yaml
